ebanking-client/src/main/resources/xsd/TransactionService.xsd

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.3.2-1 git-revision#dbe58a8. -->
<xsd:schema xmlns:ns0="http://service.customer.ogya.co.id/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://service.customer.ogya.co.id/">
	<xsd:complexType name="cekSaldo">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:inquiryBalanceRequest"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="cekSaldoResponse">
		<xsd:sequence>
			<xsd:element name="return"
				type="ns0:inquiryBalanceResponse" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InvalidInputException">
		<xsd:sequence>
			<xsd:element name="faultInfo" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="message" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="kirim">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:transferRequest"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="kirimResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:transferResponse"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="inquiryBalanceRequest">
		<xsd:sequence>
			<xsd:element name="accountNo" type="xsd:long"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="inquiryBalanceResponse">
		<xsd:sequence>
			<xsd:element name="accountBalance" type="xsd:long"
				minOccurs="0" />
			<xsd:element name="errorCode" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="errorMessage" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="transferRequest">
		<xsd:sequence>
			<xsd:element name="accountFrom" type="xsd:long"
				minOccurs="0" />
			<xsd:element name="accountTo" type="xsd:long"
				minOccurs="0" />
			<xsd:element name="amount" type="xsd:long" minOccurs="0" />
			<xsd:element name="notes" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="transferResponse">
		<xsd:sequence>
			<xsd:element name="errorCode" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="errorMessage" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="referenceNumber" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="cekSaldo" type="ns0:cekSaldo" />
	<xsd:element name="cekSaldoResponse"
		type="ns0:cekSaldoResponse" />
	<xsd:element name="InvalidInputException"
		type="ns0:InvalidInputException" />
	<xsd:element name="kirim" type="ns0:kirim" />
	<xsd:element name="kirimResponse" type="ns0:kirimResponse" />
</xsd:schema>