ebanking-client/src/main/resources/TransactionService.wsdl

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.3.2-1 git-revision#dbe58a8. -->
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). 
	RI's version is JAX-WS RI 2.3.2-1 git-revision#dbe58a8. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.customer.ogya.co.id/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://service.customer.ogya.co.id/"
	name="TransactionServiceService">
	<types>
		<xsd:schema>
			<xsd:import
				namespace="http://service.customer.ogya.co.id/"
				schemaLocation="xsd/TransactionService.xsd" />
		</xsd:schema>
	</types>
	<message name="kirim">
		<part name="parameters" element="tns:kirim" />
	</message>
	<message name="kirimResponse">
		<part name="parameters" element="tns:kirimResponse" />
	</message>
	<message name="InvalidInputException">
		<part name="fault" element="tns:InvalidInputException" />
	</message>
	<message name="cekSaldo">
		<part name="parameters" element="tns:cekSaldo" />
	</message>
	<message name="cekSaldoResponse">
		<part name="parameters" element="tns:cekSaldoResponse" />
	</message>
	<portType name="TransactionService">
		<operation name="kirim">
			<input
				wsam:Action="http://service.customer.ogya.co.id/TransactionService/kirimRequest"
				message="tns:kirim" />
			<output
				wsam:Action="http://service.customer.ogya.co.id/TransactionService/kirimResponse"
				message="tns:kirimResponse" />
			<fault message="tns:InvalidInputException"
				name="InvalidInputException"
				wsam:Action="http://service.customer.ogya.co.id/TransactionService/kirim/Fault/InvalidInputException" />
		</operation>
		<operation name="cekSaldo">
			<input
				wsam:Action="http://service.customer.ogya.co.id/TransactionService/cekSaldoRequest"
				message="tns:cekSaldo" />
			<output
				wsam:Action="http://service.customer.ogya.co.id/TransactionService/cekSaldoResponse"
				message="tns:cekSaldoResponse" />
			<fault message="tns:InvalidInputException"
				name="InvalidInputException"
				wsam:Action="http://service.customer.ogya.co.id/TransactionService/cekSaldo/Fault/InvalidInputException" />
		</operation>
	</portType>
	<binding name="TransactionServicePortBinding"
		type="tns:TransactionService">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="kirim">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="InvalidInputException">
				<soap:fault name="InvalidInputException" use="literal" />
			</fault>
		</operation>
		<operation name="cekSaldo">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="InvalidInputException">
				<soap:fault name="InvalidInputException" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="TransactionServiceService">
		<port name="TransactionServicePort"
			binding="tns:TransactionServicePortBinding">
			<soap:address
				location="http://192.168.56.1:7001/ebanking-ws/TransactionServiceService" />
		</port>
	</service>
</definitions>